

@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Services;
@inject IContentService Services;
@{

    Layout = "_Layout.cshtml";

    var blockGrid = Model.Value<BlockGridModel>("gridnew");
    var blocks = blockGrid?.ToList() ?? new List<BlockGridItem>();

}
<style>
    .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;

    }

    .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    }

    .grid-item img {
    width: 50%; 
    height: auto; 
    object-fit: cover; 
    image-orientation: from-image; 
    image-orientation: unset;
    }


</style>
@* @foreach (var block in blocks) *@
@* { *@
@*     <div> *@
@*         <p>@block.Content</p>  *@
@*         <p>Row Span: @block.RowSpan</p> *@
@*         <p>Column Span: @block.ColumnSpan</p> *@
@*         <p>Grid Columns: @block.GridColumns</p> *@
@*     </div> *@
@* } *@ 

<body>

    <div class="grid-container">
        @foreach (var block in blocks)
        {
            <div class="grid-item" style="grid-column: span @block.ColumnSpan; grid-row: span @block.RowSpan;">

                <div style="align-items:center">

                    @if (block.Content is Umbraco.Cms.Web.Common.PublishedModels.News newsContent) {
                        <h3 class="text-lg-center">@newsContent.Title</h3>
                    }

                    @if (block.Content is Umbraco.Cms.Web.Common.PublishedModels.Furniture furnitureContent)
                    {
                        <h3>@furnitureContent.Title</h3>
                        <div class="card-item">
                            <h6 class="card">@furnitureContent.Summary</h6>
                        </div>
                    }
                    @if (block.Content is Umbraco.Cms.Web.Common.PublishedModels.Product productContent)
                    {
                        <h3>@productContent.Title</h3>
                        var content = productContent.ProductImage;
                        if (content != null){

                        <img src="@content.Url()" alt="@productContent.Title" />
                        }
                        <div class="card-item">@productContent.Summary</div>
                        <div class="grid-container">
                            <div class="card-item">
                                <label for="productChoice">Do You want a Carry bag</label><br />
                                <input type="radio" id="yes" name="productChoice" value="yes" />
                                <label for="yes">Yes</label><br />

                                <input type="radio" id="no" name="productChoice" value="no" />
                                <label for="no">No</label><br />

                            </div>
                        </div>

                    }
                    @if(block.Content is Umbraco.Cms.Web.Common.PublishedModels.Painting paintingContent){
                        <h3>@paintingContent.Title</h3>
                        var content = paintingContent.PaintingImage;
                        if (content != null)
                        {
                            <img src="@content.Url()" alt="@paintingContent.Title" />
                        }
                        <div class="card-box pt-4">
                            <h6>@paintingContent.Summary</h6>
                        </div>
                    }
                </div>
            </div>
        }        
</div>
   
</body>

