

@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Services;
@inject IContentService Services;
@{

    Layout = "_Layout.cshtml";

    var blockGrid = Model.Value<BlockGridModel>("grid");
    var blocks = blockGrid?.ToList() ?? new List<BlockGridItem>();

    var subBlockGrid = Model.Value<Product>("newsBlog");

    var subBlocks = blockGrid?.ToList() ?? new List<BlockGridItem>();

}
<style>
    .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;

    }

    .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    }

    .grid-item img {
    width: 50%; 
    height: auto; 
    object-fit: cover; 
    image-orientation: from-image; 
    image-orientation: unset;
    }


</style>
@* @foreach (var block in blocks) *@
@* { *@
@*     <div> *@
@*         <p>@block.Content</p>  *@
@*         <p>Row Span: @block.RowSpan</p> *@
@*         <p>Column Span: @block.ColumnSpan</p> *@
@*         <p>Grid Columns: @block.GridColumns</p> *@
@*     </div> *@
@* } *@ 

<body>
    @*     <div class="grid-container"> *@
    @*     @await Html.GetBlockGridHtmlAsync(Model, "grid") *@
    @* </div> *@

    <div class="grid-container">
        @foreach (var block in blocks)
        {
            <div class="grid-item" style="grid-column: span @block.ColumnSpan; grid-row: span @block.RowSpan;">
                <div>

                    @if (block.Content is Umbraco.Cms.Web.Common.PublishedModels.News newsContent)
                    {
                        <h3>@newsContent.Title</h3>
                        <img class="bbcnews" src="~/media/zvehcr5l/news.jfif" alt="@newsContent.Title" style="width:100%; height:auto;object-fit:cover;image-orientation:from-image"/> 
                         @*          
                         @{ *@
                        @* var content = Model.Content; *@
                        @* if(content.CardImage != null){ *@
                        @*     var mediaItem = Umbraco.Media(content.CardImage.Key); *@
                        @*     if(mediaItem != null){ *@
                        @*         var image = mediaItem.Url(); *@
                        @*         <img src="@image" class="card-img-top pb-5" alt="@mediaItem.Name"/> *@
                        @*     } *@
                        
                    }

                    @if (block.Content is Umbraco.Cms.Web.Common.PublishedModels.Furniture furnitureContent)
                    {
                        <h3>@furnitureContent.Title</h3>
                    }
                    @if (block.Content is Umbraco.Cms.Web.Common.PublishedModels.Product productContent)
                    {
                        <h3>@productContent.Title</h3>
                        <img src="~/media/leepdvyi/furniture.jfif" alt="@productContent.Title" />
                        <div class="card-item">@productContent.Summary</div>
                        <div class="grid-container">
                            <div class="card-item">
                                <label for="productChoice">Do You want a Carry bag</label><br />
                                <input type="radio" id="yes" name="productChoice" value="yes" />
                                <label for="yes">Yes</label><br />

                                <input type="radio" id="no" name="productChoice" value="no" />
                                <label for="no">No</label><br />

                            </div>
                        </div>

                    }
                </div>
            </div>
        }        
</div>
    <div class="grid-container">
        @foreach (var subBlock in subBlocks)
        {
            <div class="grid-item" style="grid-column: span @subBlock.ColumnSpan; grid-row: span @subBlock.RowSpan;">
                <div>
                    @if (subBlock.Content is Umbraco.Cms.Web.Common.PublishedModels.SportsArticle sportArticle)
            {
                <div class="conteiner">@sportArticle.Summary</div>
            }
            @if(subBlock.Content is Umbraco.Cms.Web.Common.PublishedModels.SportsBlog sportBlog){
                <div>
                            <img src="~/media/i41hs014/fortune-of-time.jpg" alt="@sportBlog.PlayerImg" />
                </div>
                    }
            </div>
            </div>
        }
</div>
</body>

