@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor _httpContextAccessor;
@inject IRecordReaderService _recordReaderService;
@using Umbraco.Forms.Core;
@using Umbraco.Forms.Core.Services;
@using Newtonsoft.Json

@{
    Layout = "_Layout.cshtml";
    var queryId = _httpContextAccessor.HttpContext?.Request?.Query["id"];
    int parsedQueryId;
    bool isValidQueryId = int.TryParse(queryId, out parsedQueryId);

    var formId = new Guid("ad559f9b-e5d1-47a9-89a9-6f0f97d36fcf");
    var records = _recordReaderService.GetRecordsFromForm(formId, 1, 5); 
    var record = records.Items.FirstOrDefault(r => r.Id == parsedQueryId);

    var recordData = new Dictionary<string, string>(); 
    if (record != null) {
        var jsonString = record.RecordData; 
        recordData = JsonConvert.DeserializeObject<Dictionary<string, string>>(jsonString);
            <!-- convert string to object  -->
     <!-- "{'0f102885-04b3-47f3-bea6-595dbc3adfc2':'Mansi','2597ae12-b370-467f-8607-3900cd9d114f':'2004-12-09T00:00:00','69443629-9c37-4812-a586-a4ff3fefbaae':'Indore','0ff4c07d-1efb-421f-9c46-95ac882ffe1d':'8827956986','3ca7a444-a2f2-4d4f-a4d4-ad1c426c7187':'mansi123@gmail.com'}" -->
    <!-- <ul>
     @foreach (var field in recordData) {
            <p> <h6>@field.Key</h6>@field.Value</p>
              @if (field.Key == "0f102885-04b3-47f3-bea6-595dbc3adfc2") { 
            <p><strong>Name:</strong> @field.Value</p> 
        } 
     }    
    </ul> -->
     }
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/css/portfolio.css" rel="stylesheet" />
</head>
<body>
    <section class="portfolio">
        <div class="container emp-profile">
            <form method="post">
                @if (record != null) {
                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-img">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                                <div class="file btn btn-lg btn-primary">
                                    Change Photo
                                    <input type="file" name="file"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                @if (recordData.ContainsKey("0f102885-04b3-47f3-bea6-595dbc3adfc2")) {
                                    <h5>@recordData["0f102885-04b3-47f3-bea6-595dbc3adfc2"]</h5> <!-- Name -->
                                }
                                <h6>Web Developer and Designer</h6>
                                <p class="proile-rating">RANKINGS: <span>8/10</span></p>
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="profile-work">
                                <p>WORK LINK</p>
                                <a href="">Website Link</a><br/>
                                <a href="">Bootsnipp Profile</a><br/>
                                <a href="">Bootply Profile</a>
                                <p>SKILLS</p>
                                <a href="">Web Designer</a><br/>
                                <a href="">Web Developer</a><br/>
                                <a href="">WordPress</a><br/>
                                <a href="">WooCommerce</a><br/>
                                <a href="">PHP, .Net</a><br/>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            @if (recordData.ContainsKey("0f102885-04b3-47f3-bea6-595dbc3adfc2")) {
                                                <p>@recordData["0f102885-04b3-47f3-bea6-595dbc3adfc2"]</p> <!-- Name -->
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            @if (recordData.ContainsKey("3ca7a444-a2f2-4d4f-a4d4-ad1c426c7187")) {
                                                <p>@recordData["3ca7a444-a2f2-4d4f-a4d4-ad1c426c7187"]</p> <!-- Email -->
                                            }
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Phone</label>
                                        </div>
                                        <div class="col-md-6">
                                            @if (recordData.ContainsKey("0ff4c07d-1efb-421f-9c46-95ac882ffe1d")) {
                                                <p>@recordData["0ff4c07d-1efb-421f-9c46-95ac882ffe1d"]</p> <!-- UserId -->
                                            }
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>City</label>
                                        </div>
                                        <div class="col-md-6">
                                            @if (recordData.ContainsKey("69443629-9c37-4812-a586-a4ff3fefbaae")) {
                                                <p>@recordData["69443629-9c37-4812-a586-a4ff3fefbaae"]</p> <!-- Phone -->
                                            }
                                        </div>
                                    </div>

                                

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profession</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Web Developer and Designer</p>
                                        </div>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date of birth</label>
                                </div>
                                <div class="col-md-6">
                            @if (recordData.ContainsKey("2597ae12-b370-467f-8607-3900cd9d114f")){
                                var dob = recordData["2597ae12-b370-467f-8607-3900cd9d114f"];
                                DateTime dateOfBirth;
                                
                                if (DateTime.TryParse(dob.ToString(), out dateOfBirth))
                                {
                                    <p>@dateOfBirth.ToString("MM/dd/yyyy")</p> <!-- Format date as MM/dd/yyyy -->
                                }
                            }
                                </div>
                                </div>

                                

                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experience</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Hourly Rate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>10$/hr</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Total Projects</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>230</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>English Level</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Availability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>6 months</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Your Bio</label><br/>
                                            <p>Your detailed description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else {
                    <p>Invalid or missing query 'id' parameter.</p>
                }
            </form>           
        </div>
    </section>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>
