@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
}

<html>
<head>
    <meta name="mobile-web-app-capable" content="yes">
    @*  <link rel="stylesheet" href='@Url.Content("~/css/styles.css")' /> *@
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    
     <h1>@Model.Value("productName")</h1>
    <p>Price: @Model.Value("price")</p>
    <div>@Model.Value("description")</div> 
    @*<img src="@Model.Value("image")" alt="Product Image" /> *@
      @{
        var mediaItem = Umbraco.Media(Guid.Parse("748c9b3b-2d40-4a17-a4d9-9e766eba1174"));

        if (mediaItem != null)
        {

            var url = mediaItem.Url();

            var imageHeight = mediaItem.Value<int>("umbracoHeight");

            var imageWidth = mediaItem.Value<int>("umbracoWidth");

             var orientationCssClass = imageWidth > imageHeight ? "img-landscape" : "img-portrait";
            <img src="@url" alt="@mediaItem.Name" class="@orientationCssClass" />

        }
    }  
</body>
</html>